# Application and database connection
DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DATABASE
DB_MIN_CONNECTIONS=1
DB_MAX_CONNECTIONS=20

# Test application listener
APP_HOST=0.0.0.0
APP_PORT=8080

# Only needed when using docker-compose.yml
POSTGRES_PASSWORD=change-me
